.h1 {
  margin: 25px 0;
}

.h2 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#innerBody {
  max-width: 450px; /* Max width of sections */
  margin: auto;
}

#innerBody > div {
  flex-grow: 1;
}

#innerBody > div:not(:last-of-type) {
  margin-bottom: 25px;
}

@media (width > 800px) {
  #innerBody {
    max-width: none;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  #innerBody > div {
    margin: 0 !important;
  }

  /* 
   * Puts the workout section on the right column and lets it expand as far as necessary
   * #3 because intake popup and intake are above it in the DOM
   */
  #innerBody > div:nth-of-type(3) {
    grid-row: 1 / span 3; /* Honestly this is still magic to me I'm not totally sure why it works */
    grid-column: 2;
  }
}

#errorContainer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 25px;
}

#error {
  max-width: 450px;
  margin: auto;
}