@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F1F6FA;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --on-background-color: #000;
  --section-color: #fff;
  --text-color: #0009;
  --primary-color: rgb(var(--primary-rgb));
  --primary-rgb: 87, 0, 229;
  --primary-light: #F7F2FE;
  --secondary-color: rgb(var(--secondary-rgb));
  --secondary-rgb: 56, 183, 255;
  --secondary-light: #F1FAFF;
  --tertiary-color: rgb(var(--tertiary-rgb));
  --tertiary-rgb: 45, 189, 9;
  --tertiary-light: #F0FAEE;
  --fourth-color: rgb(var(--fourth-rgb));
  --fourth-rgb: 255, 56, 56;
  --fourth-light: #FFF1F1;

  --button-gradient: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
  --transparent-button-hover: #0001;

  --rounded-border: 6px;

  --smallest-text: 8pt;
  --small-text: 10pt;
  --medium-text: 12pt;
  --semi-large-text: 16pt;
  --large-text: 24pt;
  --largest-text: 32pt;
}

.container {
  padding: 25px;
  max-width: 950px;
  margin:auto;
}

.section {
  background-color: white;
  border-radius: 12px;
  min-width: 350px;
  max-width: 450px;
  height: min-content;
}

.section > div {
  margin-bottom: 12px;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.large-padding {
  padding: 25px;
}

.small-padding {
  padding: 12px;
}

p, span, label {
  color: var(--text-color);
  margin: 0;
}

p, span, button, input {
  font-size: var(--medium-text);
}

label {
  font-size: var(--small-text);
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--on-background-color);
  margin-top: 0;
  margin-bottom: 0.3em;
}

h1 {
  font-size: var(--largest-text);
}

h2 {
  font-size: var(--large-text);
}

h3, h4, h5, h6 {
  font-size: var(--semi-large-text);
}

input, button, a {
  transition: opacity 0.2s, background-color 0.2s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s linear;
}

button svg {
  height: 0.8em;
}

.primary-button {
  background: var(--button-gradient);
  color: white;
  border-radius: var(--rounded-border);
  padding: 8px 12px;
}

.primary-button:hover {
  box-shadow:inset 2px 2px 8px #fff5;
}

.primary-button:focus {
  box-shadow:inset 2px 2px 8px #0005;
}

.secondary-button {
  padding: 8px 12px;
  background: none;
}

.secondary-button span {
  position: relative;
  background: var(--button-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary-button svg {
  fill: var(--primary-color);
  transform: translate(0, .075em);
}

.secondary-button span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.secondary-button:hover span::before {
  width: 100%;
}

.left-secondary-button {
  transform: translateX(-12px);
}

.right-secondary-button {
  transform: translateX(12px);
}

#logo {
  height: 16pt;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: var(--rounded-border);
  transition: 0.2s;
  padding: 0.6em;
  background: none;
  outline: none;
}

*::placeholder {
  color: #aaa;
}

.form-input:focus-within {
  border-color: var(--secondary-color);
  background: var(--secondary-light);
}

#popup-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #0006;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-container {
  background-color: white;
  border-radius: 12px;
  min-width: 300px;
}

#popup-container input {
  width: 100%;
  margin-bottom: 12px;
}

#popup-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Get rid of number up and down buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
I use the clicked class so that the animation doesn't play on the page load 
clicked is added once the button to open the menu is clicked the first time
*/
nav[aria-expanded="false"]:not(.clicked) {
  visibility: hidden;
}

nav[aria-expanded="false"].clicked {
  animation: closeMenu 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

nav[aria-expanded="true"] {
  visibility: visible;
  animation: openMenu 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

@keyframes closeMenu {
  to {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  } to {
    opacity: 1;
    transform: none;
  }
}