.headerWrapper {
  background-color: white;
  box-shadow: 0 0 8px #0001;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
}

.header h3 {
  margin: 0 0 0 10px;
  flex-grow: 1;
}