.workoutWrapper {
  background-color: var(--secondary-light);
  border-radius: var(--rounded-border);
  margin-bottom: 12px;
}

.workoutWrapper[aria-expanded="true"] .exerciseButtonWrapper {
  background-color: rgba(var(--secondary-rgb), 0.1);
}

.workoutWrapper > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.workoutWrapper > header > span {
  font-weight: 700;
  color: rgba(var(--secondary-rgb), 0.5);
}